#hfcc2023 
    position: relative
    margin-left: -15px
    margin-right: -15px

    +desktop
        max-width: 1200px * $r
        margin: 0 auto

    .header
        position: absolute
        top: 0
        left: 50%
        max-width: 1200px * $r
        width: 100%
        transform: translateX(-50%)
        z-index: 100

        &.relative
            position: relative
        
        &.fixed-space
            position: fixed
            top: 50px
            transition: top .5s ease
            
            +desktop
                top: 124px

        &.fixed-top
            position: fixed
            top: 0
        img
            display: block
            max-width: 100%

    .menu
        display: flex
        cursor: pointer

        img
            display: block

        .ico-news
            position: absolute
            top: per(-35px,108px)
            left: per(20px,481px)
            width: per(105px,481px)
        a
            display: block
            position: relative
            cursor: pointer

            &:nth-child(1)
                flex: 40%
                max-width: 40%

            &:nth-child(2)
                flex: 34.5%
                max-width: 34.5%

            &:nth-child(3)
                flex: 25.5%
                max-width: 25.5%

    .logobox
        position: relative

        a.logo
            position: absolute
            top: 0
            left: 0
            width: 85%
            bottom: 0
            display: block
            z-index: 2000
            cursor: pointer

        a.fb
            position: absolute
            top: 0
            left: 86%
            right: 0
            bottom: 0
            display: block
            z-index: 2000
            cursor: pointer
    .footer
        width: 100%
        height: auto
        background-color: #014977
        position: relative
        padding-top: 80px * $r
        padding-bottom: 40px * $r
        margin-top: 100px * $r

        +maxDesktop_md
            padding: 20px 0 20px
            margin-top: 50px

    p.copyright
        position: relative
        z-index: 100
        color: white
        font-size: 24px * $r
        line-height: 1.5
        text-align: center

        +maxDesktop_md
            font-size: 15px

    .back-top
        position: absolute
        top: -60px * $r
        left: 50%
        width: 160px * $r
        height: auto
        transform: translateX(-50%)
        cursor: pointer

        a
            display: block
            width: 100%
            height: auto

        +maxDesktop_md
            top: -40px
            width: 85px

        img
            max-width: 100%


    .fixed-bottom-menu
        position: fixed
        bottom: -5px
        left: 50%
        max-width: 1200px * $r
        width: 100%
        transform: translateX(-50%)
        display: flex
        transition: all .4s ease
        z-index: 200

        &.hide
            visibility: hidden
            opacity: 0

        a
            flex: 50%

        img
            max-width: 100%