#hfcc2023
    
    .wrapper
        width: 100%
        margin: 0 auto

    // .wrapper
    //     padding-top: 333px * $r

    //     +maxDesktop_md
    //         padding-top: per(333px)

    .kv
        position: relative
        width: 100%

        img
            display: block
            max-width: 100%
            
    .kv-title
        position: absolute
        top: per(289px)
        left: per(558px)
        width: per(558px)

    .kv-bubble
        position: absolute
        top: per(620px)
        left: per(640px)
        width: per(315px)

        img
            animation: imgMove1 2s ease infinite alternate

    .kv-product
        position: absolute
        top: per(235px)
        left: per(37px)
        width: per(676px)

        img
            animation: imgMove2 2s ease infinite alternate

    .section
        position: relative

        img
            display: block
            max-width: 100%

    .se-title
        width: 100%

    .se-txt
        position: absolute
        top: 0
        left: 0
        width: 100%


@keyframes imgMove1
    to
        transform: translateY(-10px) scale(1.05)

@keyframes imgMove2
    to
        transform: translateY(20px)