$r: 0.6

body,html
    margin: 0
    padding: 0
    font-family: '微軟正黑體', sans-serif
    font-weight: 400



@import '_mixin'
@import '_footer'
@import '_index'



#hfcc2023 

    .se7 
        .se-title
            position: relative
        .se-bg
            margin-top: -20px
            padding-top: 30px
            padding-bottom: 40px
            padding-left: 30px
            padding-right: 30px
            background: url('//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_32e898b3-bfc6-4962-b6d4-7aae8053ad61.jpg') no-repeat 0 0
            background-size: cover

            +desktop
                padding-left: 117px* $r
                padding-right: 117px* $r

    .youtube
        padding-top: 56.5%
        background-color: #000
        iframe
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            bottom: 0

    .swiper-pagination
        bottom: unset
        position: relative
        top: unset
        margin-top: 20px

    .swiper-pagination-bullet
        width: 16px
        height: 16px
        background-color: #a0c3d5
        opacity: 1
        
        &.swiper-pagination-bullet-active
            background-color: #014977
            
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
        margin: 0 8px

        
    .loading
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        bottom: 0
        background-color: #fff
        z-index: 5000

        img
            max-width: 100%


        .content
            position: absolute
            top: 50%
            left: 50%
            width: 250px * $r
            height: 250px * $r
            transform: translateX(-50%) translateY(-50%)

#hfcc2023-kv
    .kv-product,.kv-bubble,.kv-title
        opacity: 0
#hfcc2023-kv.animation .kv-product
    opacity: 0
    animation: kvAnimation1 1s forwards ease


#hfcc2023-kv.animation .kv-bubble
    opacity: 0
    animation: kvAnimation1 1s 0.4s forwards ease


#hfcc2023-kv.animation .kv-title
    opacity: 0
    animation: kvAnimation2 1s forwards ease


@keyframes kvAnimation1
    0%
        transform: translateX(-100px)
    

    to
        opacity: 1
        transform: translateX(0)
    


@keyframes kvAnimation2
    0%
        transform: translateX(-100px)
    

    to
        opacity: 1
        transform: translateX(0)
    


@keyframes bubbleAni
    to
        transform: translateY(-20px) scale(1.1)
    


@keyframes prodAni
    to
        transform: translateY(-20px)
    
