<div id="hfcc2023"><!-- #loading  -->
  <div class="loading">
  <div class="content"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_40e2f355-6a31-40be-b48a-60e89f427aaa.png" />
  <div class="progress-count">&nbsp;</div>
  </div>
  </div>
  
  <header class="header" id="fixed-header">
  <div class="logobox">
    <img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_96aad6ba-8cd4-4277-9f4a-0ef6bf49cd3e.jpg" />
    <a href="https://www.cetaphil.com.tw" target="_blank" class="logo"></a>
    <a href="https://www.facebook.com/cetaphilskincare/" target="_blank" class="fb"></a>
  </div>
  
  <div class="menu"><a href="#hfcc2023-kv"><img alt="" class="ico-news" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_e39cde83-3fb9-4e32-bc0f-ac246531ec64.png" /><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_ee399f2d-d7b4-434c-b42a-765aaeb80e93.jpg" /></a> <a href="#hfcc2023-product"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_8c27c5de-ac07-4149-a2cf-2c5fae1861de.jpg" /></a> <a href="javascript:;"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_f2216ac7-619d-49b4-9481-b3e5c1f628a9.jpg" /></a></div>
  </header>
  
  <header class="header relative">
  <div class="logobox"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_96aad6ba-8cd4-4277-9f4a-0ef6bf49cd3e.jpg" />
    <a href="https://www.cetaphil.com.tw" target="_blank" class="logo"></a>
    <a href="https://www.facebook.com/cetaphilskincare/" target="_blank" class="fb"></a>
  </div>
  
  <div class="menu"><a href="#hfcc2023-kv"><img alt="" class="ico-news" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_e39cde83-3fb9-4e32-bc0f-ac246531ec64.png" /><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_ee399f2d-d7b4-434c-b42a-765aaeb80e93.jpg" /></a> <a href="#hfcc2023-product"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_8c27c5de-ac07-4149-a2cf-2c5fae1861de.jpg" /></a> <a href="javascript:;"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_f2216ac7-619d-49b4-9481-b3e5c1f628a9.jpg" /></a></div>
  </header>
  
  <div class="wrapper">
  <section class="kv" id="hfcc2023-kv">
  <div class="kv-bg"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_50268745-2d4a-4f9c-9cee-aa2bb428e1a3.jpg" /></div>
  
  <div class="kv-title"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_79bdf78b-ac39-476c-90d2-ee0db82b5330.png" /></div>
  
  <div class="kv-product"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_7342056f-d585-4396-9977-b45df45f111b.png" /></div>
  
  <div class="kv-bubble"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_ca2508e6-3890-48bd-b9bd-7db8cf3b3603.png" /></div>
  </section>
  
  <section class="section se1">
  <div class="se-bg"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_01f16258-73bd-4fb4-a3bb-b6f342304f57.jpg" /></div>
  <img alt="" class="se-txt" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_729417ef-91c7-446f-9877-9113582aafeb.png" /></section>
  
  <section class="section se2">
  <div class="se-bg"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_cb43fbf7-4dbf-4552-9e29-e1c92f8c88e2.jpg" /></div>
  <img alt="" class="se-txt" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_c4e19b96-c992-4c9e-986a-f47c297fd2a2.png" /></section>
  
  <section class="section se3"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_40e46a05-e427-4d46-b93f-5c160e414a87.jpg" /></section>
  
  <section class="section se4"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_eef25a0c-03e1-49eb-9be1-58369374b5c9.jpg" /></section>
  
  <section class="section se5"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_fcf37e5b-65b6-4bae-9937-ac0da523c6fa.jpg" /></section>
  
  <section class="section se6"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_7a7c1caa-da7b-48fb-b751-670f522fd839.jpg" /></section>
  
  <section class="section se7" id="hfcc2023-recommend" style="display:none;">
  <div class="se-title"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_b26ca3eb-049a-4721-94eb-17aabccfce68.png" /></div>
  
  <div class="se-bg">
  <div class="video-list swiper">
  <div class="swiper-wrapper">
  <div class="swiper-slide">
  <div class="video-slide">
  <div class="youtube"><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Q1Ge0DRPNCg" title="YouTube video player" width="560"></iframe></div>
  </div>
  </div>
  
  <div class="swiper-slide">
  <div class="video-slide">
  <div class="youtube"><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Q1Ge0DRPNCg" title="YouTube video player" width="560"></iframe></div>
  </div>
  </div>
  </div>
  
  <div class="swiper-pagination">&nbsp;</div>
  </div>
  </div>
  </section>
  
  <section class="section se8" id="hfcc2023-product"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_9f55197c-c49a-447a-82de-cd78f4c70594.jpg" /></section>
  
  <section class="section se9"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_27c2db30-bb40-46c1-8f5c-68c830992cbe.jpg" /></section>
  </div>
  
  <footer class="footer">
  <div class="container">
  <div class="back-top"><a href="#"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_a931b65b-f5b4-456b-820b-02cafdabddb5.png" /></a></div>
  
  <p class="copyright">Copyright &copy; 2023 cetaphil All Rights Reserved.</p>
  </div>
  </footer>
  
  <div class="fixed-bottom-menu"><a href="https://docs.google.com/forms/d/e/1FAIpQLScsC-jQf-cxtJ4RV-5XHiJIEB_lG418KxNFhsbFX9_vbIqDww/viewform?usp=sf_link" onclick="gtag('event', 'click', {'label':'bt_test'});" target="_blank"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_8cd596d8-693e-45c0-8d03-fbdd2e2279e9.png" /></a> <a href="https://www.cetaphil.com.tw/where-to-buy.html" onclick="gtag('event', 'click', {'label':'bt_buy'});" target="_blank"><img alt="" src="//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_08f7e29a-a7a2-418f-b201-9e62357b4936.png" /></a></div>
  </div>
  <style type="text/css">@charset "UTF-8";body,html{margin:0;padding:0;font-family:"微軟正黑體",sans-serif;font-weight:400}#hfcc2023{position:relative;margin-left:-15px;margin-right:-15px}@media (min-width:992px){#hfcc2023{max-width:720px;margin:0 auto}}#hfcc2023 .header{position:absolute;top:0;left:50%;max-width:720px;width:100%;-webkit-transform:translateX(-50%);transform:translateX(-50%);z-index:100}#hfcc2023 .header.relative{position:relative}#hfcc2023 .header.fixed-space{position:fixed;top:50px;-webkit-transition:top 0.5s ease;transition:top 0.5s ease}@media (min-width:992px){#hfcc2023 .header.fixed-space{top:124px}}#hfcc2023 .header.fixed-top{position:fixed;top:0}#hfcc2023 .header img{display:block;max-width:100%}#hfcc2023 .menu{display:-webkit-box;display:-ms-flexbox;display:flex;cursor:pointer}#hfcc2023 .menu img{display:block}#hfcc2023 .menu .ico-news{position:absolute;top:-32.4074074074%;left:4.158004158%;width:21.8295218295%}#hfcc2023 .menu a{display:block;position:relative;cursor:pointer}#hfcc2023 .menu a:first-child{-webkit-box-flex:40%;-ms-flex:40%;flex:40%;max-width:40%}#hfcc2023 .menu a:nth-child(2){-webkit-box-flex:34.5%;-ms-flex:34.5%;flex:34.5%;max-width:34.5%}#hfcc2023 .menu a:nth-child(3){-webkit-box-flex:25.5%;-ms-flex:25.5%;flex:25.5%;max-width:25.5%}#hfcc2023 .logobox{position:relative}#hfcc2023 .logobox a.logo{position:absolute;top:0;left:0;width:85%;bottom:0;display:block;z-index:2000;cursor:pointer}#hfcc2023 .logobox a.fb{position:absolute;top:0;left:86%;right:0;bottom:0;display:block;z-index:2000;cursor:pointer}#hfcc2023 .footer{width:100%;height:auto;background-color:#014977;position:relative;padding-top:48px;padding-bottom:24px;margin-top:60px}@media (max-width:1200px){#hfcc2023 .footer{padding:20px 0 20px;margin-top:50px}}#hfcc2023 p.copyright{position:relative;z-index:100;color:white;font-size:14.4px;line-height:1.5;text-align:center}@media (max-width:1200px){#hfcc2023 p.copyright{font-size:15px}}#hfcc2023 .back-top{position:absolute;top:-36px;left:50%;width:96px;height:auto;-webkit-transform:translateX(-50%);transform:translateX(-50%);cursor:pointer}#hfcc2023 .back-top a{display:block;width:100%;height:auto}@media (max-width:1200px){#hfcc2023 .back-top{top:-40px;width:85px}}#hfcc2023 .back-top img{max-width:100%}#hfcc2023 .fixed-bottom-menu{position:fixed;bottom:-5px;left:50%;max-width:720px;width:100%;-webkit-transform:translateX(-50%);transform:translateX(-50%);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-transition:all 0.4s ease;transition:all 0.4s ease;z-index:200}#hfcc2023 .fixed-bottom-menu.hide{visibility:hidden;opacity:0}#hfcc2023 .fixed-bottom-menu a{-webkit-box-flex:50%;-ms-flex:50%;flex:50%}#hfcc2023 .fixed-bottom-menu img{max-width:100%}#hfcc2023 .wrapper{width:100%;margin:0 auto}#hfcc2023 .kv{position:relative;width:100%}#hfcc2023 .kv img{display:block;max-width:100%}#hfcc2023 .kv-title{position:absolute;top:24.0833333333%;left:46.5%;width:46.5%}#hfcc2023 .kv-bubble{position:absolute;top:51.6666666667%;left:53.3333333333%;width:26.25%}#hfcc2023 .kv-bubble img{-webkit-animation:imgMove1 2s ease infinite alternate;animation:imgMove1 2s ease infinite alternate}#hfcc2023 .kv-product{position:absolute;top:19.5833333333%;left:3.0833333333%;width:56.3333333333%}#hfcc2023 .kv-product img{-webkit-animation:imgMove2 2s ease infinite alternate;animation:imgMove2 2s ease infinite alternate}#hfcc2023 .section{position:relative}#hfcc2023 .section img{display:block;max-width:100%}#hfcc2023 .se-title{width:100%}#hfcc2023 .se-txt{position:absolute;top:0;left:0;width:100%}@-webkit-keyframes imgMove1{to{-webkit-transform:translateY(-10px) scale(1.05);transform:translateY(-10px) scale(1.05)}}@keyframes imgMove1{to{-webkit-transform:translateY(-10px) scale(1.05);transform:translateY(-10px) scale(1.05)}}@-webkit-keyframes imgMove2{to{-webkit-transform:translateY(20px);transform:translateY(20px)}}@keyframes imgMove2{to{-webkit-transform:translateY(20px);transform:translateY(20px)}}#hfcc2023 .se7 .se-title{position:relative}#hfcc2023 .se7 .se-bg{margin-top:-20px;padding-top:30px;padding-bottom:40px;padding-left:30px;padding-right:30px;background:url("//cdn.cybassets.com/s/files/19337/ckeditor/pictures/content_32e898b3-bfc6-4962-b6d4-7aae8053ad61.jpg") no-repeat 0 0;background-size:cover}@media (min-width:992px){#hfcc2023 .se7 .se-bg{padding-left:70.2px;padding-right:70.2px}}#hfcc2023 .youtube{padding-top:56.5%;background-color:#000}#hfcc2023 .youtube iframe{position:absolute;top:0;left:0;width:100%;height:100%;bottom:0}#hfcc2023 .swiper-pagination{bottom:unset;position:relative;top:unset;margin-top:20px}#hfcc2023 .swiper-pagination-bullet{width:16px;height:16px;background-color:#a0c3d5;opacity:1}#hfcc2023 .swiper-pagination-bullet.swiper-pagination-bullet-active{background-color:#014977}#hfcc2023 .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,#hfcc2023 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 8px}#hfcc2023 .loading{position:fixed;top:0;left:0;width:100%;height:100%;bottom:0;background-color:#fff;z-index:5000}#hfcc2023 .loading img{max-width:100%}#hfcc2023 .loading .content{position:absolute;top:50%;left:50%;width:150px;height:150px;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}#hfcc2023-kv .kv-bubble,#hfcc2023-kv .kv-product,#hfcc2023-kv .kv-title{opacity:0}#hfcc2023-kv.animation .kv-product{opacity:0;-webkit-animation:kvAnimation1 1s forwards ease;animation:kvAnimation1 1s forwards ease}#hfcc2023-kv.animation .kv-bubble{opacity:0;-webkit-animation:kvAnimation1 1s 0.4s forwards ease;animation:kvAnimation1 1s 0.4s forwards ease}#hfcc2023-kv.animation .kv-title{opacity:0;-webkit-animation:kvAnimation2 1s forwards ease;animation:kvAnimation2 1s forwards ease}@-webkit-keyframes kvAnimation1{0%{-webkit-transform:translateX(-100px);transform:translateX(-100px)}to{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes kvAnimation1{0%{-webkit-transform:translateX(-100px);transform:translateX(-100px)}to{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}}@-webkit-keyframes kvAnimation2{0%{-webkit-transform:translateX(-100px);transform:translateX(-100px)}to{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes kvAnimation2{0%{-webkit-transform:translateX(-100px);transform:translateX(-100px)}to{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}}@-webkit-keyframes bubbleAni{to{-webkit-transform:translateY(-20px) scale(1.1);transform:translateY(-20px) scale(1.1)}}@keyframes bubbleAni{to{-webkit-transform:translateY(-20px) scale(1.1);transform:translateY(-20px) scale(1.1)}}@-webkit-keyframes prodAni{to{-webkit-transform:translateY(-20px);transform:translateY(-20px)}}@keyframes prodAni{to{-webkit-transform:translateY(-20px);transform:translateY(-20px)}}
  </style>
  <link href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" rel="stylesheet" /><script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script><script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script><script>
    $(function(){
    
    $('#hfcc2023').imagesLoaded().done(function(instance, image){
    $('#hfcc2023 .loading').fadeOut(500);
        setTimeout(function(){
         $('#hfcc2023 .kv').addClass('animation');
        },500);
        });
      
    
      const swiper = new Swiper('.swiper', {
          loop: true,
          slidesPerView: 1,
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          }
        });
    
        $('.back-top a').click(function(e){
          e.preventDefault();
          $('body,html').animate({scrollTop: 0});
      });
    
     
    
    $('#hfcc2023 .menu a').click(function(e){
        e.preventDefault();
        let element = $(this).attr('href');
        let wrapHeaderHeight = $('#hfcc2023 .header').height();
        let contentHeader = $('#header').height();
        let elemTop = $(element).offset().top;
        let lastScrollTop = $(window).scrollTop();
    
        if(element === '#hfcc2023-recommend'){
          elemTop-=20;
        }
    
        let lastTop;
        if(lastScrollTop < elemTop){
          lastTop = Math.floor(elemTop - wrapHeaderHeight);
        }else{
          lastTop = Math.floor(elemTop - (wrapHeaderHeight + contentHeader));
        }
    
        $('body,html').animate({scrollTop: lastTop})
        
      });
    
    
      $(window).scroll(function(e){
        let scrollTop = $(window).scrollTop();
        let header = $('#header');
        let page = $('#hfcc2023 .wrapper');
        let lastSection = $('#hfcc2023 .se9').offset().top;
    
        if(scrollTop >= lastSection){
          $('.fixed-bottom-menu').addClass('hide');
        }else{
          $('.fixed-bottom-menu').removeClass('hide');
        }
    
        if(scrollTop >= page.offset().top){
          if(header.is('[style="top: 0px;"]')){
            fixedHeaderHandler('top');
          }else if(header.is('[style]')){
            fixedHeaderHandler('space');
          }
        }else if(scrollTop < page.offset().top){
          fixedHeaderHandler();
        }
        
      });
    
    });
    
    function fixedHeaderHandler(value){
      switch(value){
        case 'top':
          $('#fixed-header').removeClass('fixed-top').addClass('fixed-space');
          break;
        case 'space':
          $('#fixed-header').removeClass('fixed-space').addClass('fixed-top');
          break;
        default:
          $('#fixed-header').removeClass('fixed-space fixed-top');
          break;
      }
    }
    </script>